{% extends 'layout.html' %} {% block content %}
<div class="flex justify-between">
  <h1 class="text-3xl font-bold underline">Matieres Premières</h1>
  <a
    href=""
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >Ajouter une matiere première</a
  >
</div>
<div>
  <a href="{% url 'matieres' %}" class="text-xl">Liste des matières premières</a>
  <div class="flex gap-4">
    {% for matiere in matierePremiere %}
    <div
      class="flex flex-col justify-between gap-4 rounded-lg bg-white drop-shadow-lg px-5 py-5 max-w-5 transition duration-150 all hover:-translate-y-2 max-w-sm"
    >
      <h5 class="font-bold">
        <a
          href="{% url 'fiche-matiere' matiere.id %}"
          class="transition duration-150 all hover:text-gray-400"
        >
          {{matiere.libelleMat}}
        </a>
      </h5>
      <p>{{matiere.description}}</p>
      <p class="italic">{{matiere.statut}}</p>
      <a href={% url 'update-matiere' matiere.id %} class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center">Mettre à jour</a>
      <a href={% url 'delete-matiere' matiere.id %} class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center">Supprimer</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}